@{
    ViewData["Title"] = "About";
}
<!--? Hero Area Start-->
<div class="slider-area">
    <div class="slider-bg2 hero-overly slider-height2 d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <!-- Hero Caption -->
                    <div class="hero-caption hero-caption2">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- Tittle -->
<div class="tittle top-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-65">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tittle -->
<!--? Visit Our Tailor Start -->
<div class="visit-tailor-area fix">
    <!--left Contents  -->
    <div class="tailor-offers">
        <div class="info-man text-center">
            <div class="head-cap">
                <h3>8</h3>
            </div>
            <p>Years of Experience</p>
        </div>
    </div>
    <!-- Right Contents -->
    <div class="tailor-details">
        <div class="details-sinlge mb-30">
            <h2>About Us</h2>
            <p>
                Meshcon Sdn.Bhd  formally known as Meshcon Enterprise. was established since 2016 is one of trustworthy Construction Engineering company.
                Located in the state of Kulim, Kedah Malaysia. We are a company that provides excellent FRP works, Civil works, Engineering works and Construction works, Building maintenance works and other related service.
                With our passion and commitment we are pleased to serve the best services to our clients.
                We have established strong relationships with our clients with our projects
            </p>
        </div>

    </div>
</div>

