@{
    ViewData["Title"] = "Project";
}


<!--? Hero Area Start-->
<div class="slider-area">
    <div class="slider-bg2 hero-overly slider-height2 d-flex align-items-end">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <!-- Hero Caption -->
                    <div class="hero-caption hero-caption2">
                        <h2>Projects</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FRP Gallery Area Start -->
<div class="gallery-area top-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10 col-md-11">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-65">
                    <h2>
                        FRP
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 fix">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/frp/IMG20221206145229.jpg);"></div>
@*                     <div class="thumb-content-box">
                        <div class="thumb-content">
                            <div class="capt">
                                <h3>Energy Station</h3>
                                <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                            </div>
                            <a href="project.html"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div> *@
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/frp/IMG20230906150417_BURST000_COVER.jpg);"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/frp/IMG20230914113213.jpg);"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Gallery Area End -->

<!--Metal Fabrication Gallery Area Start -->
<div class="gallery-area top-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10 col-md-11">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-65">
                    <h2>
                        Metal Fabrication
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 fix">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/metalFabrication/IMG20231206152530.jpg);    background-position-x: -17rem;"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/metalFabrication/IMG20240904200851.jpg);background-position-x: -16rem;"></div>
                    <div class="thumb-content-box">
                        @*                         <div class="thumb-content">
                        <div class="capt">
                        <h3>Energy Station</h3>
                        <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                        </div>
                        <a href="project.html"><i class="ti-arrow-right"></i></a>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/metalFabrication/IMG20241011170623.jpg);    background-position-x: -17rem;"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Gallery Area End -->

<!--  Engineering works Gallery Area Start -->
<div class="gallery-area top-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10 col-md-11">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-65">
                    <h2>
                        Engineering works
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 fix">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/engineeringWorks/IMG20230303213825.jpg);"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/engineeringWorks/IMG20240411150117.jpg);"></div>
                    <div class="thumb-content-box">
                        @*                         <div class="thumb-content">
                        <div class="capt">
                        <h3>Energy Station</h3>
                        <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                        </div>
                        <a href="project.html"><i class="ti-arrow-right"></i></a>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/engineeringWorks/engering.jpg);"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Gallery Area End -->

<!--  Building Maintainance Gallery Area Start -->
<div class="gallery-area top-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10 col-md-11">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-65">
                    <h2>
                        Building Maintainance
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 fix">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/buildingMaintainance/IMG20231003170429.jpg);"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/buildingMaintainance/IMG20240628162722.jpg);     background-position-x: -17rem;"></div>
                    <div class="thumb-content-box">
                        @*                         <div class="thumb-content">
                        <div class="capt">
                        <h3>Energy Station</h3>
                        <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                        </div>
                        <a href="project.html"><i class="ti-arrow-right"></i></a>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 p-0">
                <div class="single-gallery">
                    <div class="gallery-img" style="background-image: url(/img/buildingMaintainance/IMG20240308140209.jpg);    background-position-x: -17rem;"></div>
                    @*                     <div class="thumb-content-box">
                    <div class="thumb-content">
                    <div class="capt">
                    <h3>Energy Station</h3>
                    <p>Etiam ultricies nisi vel augue. Praesent porttitor, nulla<br> vitae posuere iaculis, arcu nisl dignissim dolor.</p>
                    </div>
                    <a href="project.html"><i class="ti-arrow-right"></i></a>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Gallery Area End -->
